body {
  overflow-x: hidden;
  font-family: "Proxima-Nova-Bold", sans-serif;
  color: #434b54;
  background-color: #f1f3f2;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.dFlexWrapper {
  display: -ms-flexbox !important;
  display: flex !important;
  overflow-x: hidden;
}

.dFlex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.justifyContentCenter {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.mb3,
.my3 {
  margin-bottom: 1rem !important;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.listGroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 15rem;
}

.listGroupItem {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.listGroupItemAction {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
