@import "index.module.css";

.sidebarLogo {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebarHeading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebarWrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}

@media (min-width: 768px) {
  .sidebarWrapper {
    margin-left: 0;
  }
}

.sidebarBottom {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
}

.sidebarSocialContainer a {
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  color: #353535;
}

.sidebarSocialContainer a:hover {
  background-color: #dce9af;
}

.sidebarTrademark {
  padding-top: 15px;
}
